.cards{
    width: 920px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    row-gap: 60px;
    column-gap: 100px;
    list-style-type:none;
    padding: 0px;
  }