.footer__columns{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 90%;
    height: -webkit-fill-available;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
  }