.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  display: flex;
  flex-wrap: wrap;
  /* here we've set a maximum page width */
  /* margin: 0 auto; */
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* header parameter */

.header {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  background-color: #f2f2f2;
  display: flex;
  
    /* parameters for the header section */
}

.logo_place_header{
  position: absolute;
  height: 31px;
  width: 154px;
  z-index: 1;
  top: 30px;
  left: 64px;
}


.header__title{
  width: 730px;
  margin-left: 64px;
  font-weight: bold;
  font-size: 102px;
  height: 96px;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 20%;
  
}
.header__subtitle{
  margin-left: 64px;
  position: absolute;
  bottom: 40px;
  width: 388px;
  height: 25px;
  font-size: 18px;
  font-weight: normal;

}

.header__link {
  margin-left: 64px;
  position: absolute;
  bottom: 0px;
  color: #2F80ED;
}

.header__main-illustrator{
  position: absolute;
  width: 756px;
  height: 608px;
  bottom: 0px;
  right: 0px;
  z-index: 1;
}
.header__square{
  position: absolute;
  width: 568px;
  height: 568px;
  background-color:#2F80ED;
  top: 64px;
  right: 0px;
}


/* parameter description */

.content {
  
}

.description{
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.two-columns__brief{
  width: 175px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
}

.two-columns__main-text{
  display: flex;
  flex-direction: column;
  width: 80%;
  min-width: 784px;
  justify-content: space-around;
}

.two-columns__paragraph{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 30px;
  padding-top: 0px;
  }

.two-columns__span-accent{
  font-weight: bold;
}

/* parameter digits */

.digits{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 100px;
  
}

.section-subtitle{
  margin: auto;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 60px;
}

.table{
  width: 1100px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 60px;
  list-style-type:none;
  padding: 0px;
}

.table__cell{
  width: 250px;
  list-style-type:none;
  z-index: 1;
}

.table__heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

/* parameter feyman */

.feynman{
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  row-gap: 70px;
  background-color: #f2f2f2;
  min-height: 790px;
}

.feynman__title{
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  width: 775px;
  text-align: center;
  margin: 0px auto 0px auto;
  z-index: 1;
}

.feynman__subtitle{
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  margin: 0px auto 240px auto;
  z-index: 1;
}

.feynman__link{
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  margin-top: 300px;
  right: 48px;
  color: #2F80ED;
}

.feynman__background-image{
  position: absolute;
  width: 867px;
  height: 637px;
  bottom: 0px;
  left: 0px;
}

/* parameter section */

.kaufman{
  background-color: #1F1F1F;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  color: #F2F2F2;
}

.table_theme_dark{
  margin-bottom: 60px;
}

.section-title{
  margin-top: 90px;
  width: 60%;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  z-index: 1;
}

.section__table{
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 90px;
  color: #F2F2F2;
}

.section__cell{
  width: 200px;
  row-gap: 80px;
  z-index: 1;
  color: #F2F2F2;
}

.kaufman__triangle{
  position: absolute;
  width: 660px;
  height: 635px;
  right: -124px;
}

/* parameter footer */

.footer{
  background-color: #1F1F1F;
  width: 100%;
  min-height: 350px;
}

.footer__text{
  color: #F2F2F2;
}

.footer__columns{
  position: relative;
  display: flex;
  flex-direction: row;
  width: 90%;
  height: -webkit-fill-available;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  justify-content: space-between;
}


.footer__column_content_copyright{
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: inherit;
}

.logo{
  width: 183px;
  height: 35px;
}

.footer__author{
  margin-top: 18px;
  margin-bottom: 18px;
}

.footer__column_content_about{
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 20px;
  list-style-type:none;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-heading{
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
}

.footer__list{
  margin-bottom: 0px;
  padding: 0px;
  margin-top: 0px;
  list-style-type:none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
}

.social-icons{
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  height: 568px;
  width: 568px;
}

/* including elements with key-value modifiers */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 0px;
}
