.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  display: flex;
  flex-wrap: wrap;
  /* here we've set a maximum page width */
  /* margin: 0 auto; */
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* header parameter */

.header {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  background-color: #f2f2f2;
  display: flex;
  
    /* parameters for the header section */
}

.logo_place-header{
  position: absolute;
  height: 31px;
  width: 154px;
  z-index: 1;
  margin-top: 30px;
  margin-left: 64px;
}

.container{
  /* display: flex;
  flex-wrap: wrap;
  align-content: space-between; */
}

.header_title{
  width: 730px;
  margin-left: 64px;
  font-weight: bold;
  font-size: 102px;
  height: 96px;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  /* align-content: center; */
  /* justify-content: center; */
  top: 20%;
  
}
.header_subtitle{
  margin-left: 64px;
  position: absolute;
  bottom: 40px;
  width: 388px;
  height: 25px;
  font-size: 18px;
  font-weight: normal;

}

.header_link {
  margin-left: 64px;
  position: absolute;
  bottom: 0px;
}

.header_main-illustrator{
  position: absolute;
  width: 756px;
  height: 608px;
  bottom: 0px;
  right: 0px;
  z-index: 1;
}
.header_square{
  position: absolute;
  width: 568px;
  height: 568px;
  background-color:#2F80ED;
  top: 64px;
  right: 0px;
}


/* parameter description */

.content {
  
}

.description{
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.two-columns{
  width: 175px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief{

}

.two-columns__main-text{
  display: flex;
  flex-direction: column;
  width: 80%;
  min-width: 784px;
  justify-content: space-around;
}

.two-columns__paragraph{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 30px;
  padding-top: 0px;
  }

.two-columns__span-accent{
  font-weight: bold;
}

/* parameter digits */

.digits{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 100px;
}

.digits-title{
  margin: auto;
  width: 60%;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;

}

.digits-subtitle{
  margin: auto;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 60px;
}

.table{
  width: 1100px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 60px;
}

.table__cell{
  width: 250px;
}

.table__heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

/* parameter feyman */

.feynman{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  row-gap: 70px;
}

.feynman__title{
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  width: 775px;
  text-align: center;
  margin: 0px auto 0px auto;
  z-index: 1;
}

.feynman__subtitle{
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  margin: 0px auto 240px auto;
  z-index: 1;
}

.feynman__link{
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  margin-top: 300px;
  right: 48px;
}

.feynman__background-image{
  position: absolute;
  width: 867px;
  height: 637px;
}

/* parameter kaufman */



/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  height: 568px;
  width: 568px;
}

/* including elements with key-value modifiers */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
